---
---

table {
    border-collapse:collapse;
    border-spacing:0;
    border:1px solid #ddd;
}

td {
    text-align:left;
    font-weight:normal;
    vertical-align:middle;
    border:1px solid #ddd;
    padding:8px;
}

th {
    border: 1px solid #ddd;
    font-weight: bold;
    padding:8px;
}

div.bk-plot-wrapper table {
    border: none;
}

div.bk-plot-wrapper td {
    border: none;
}

div.bk-plot-wrapper th {
    border: none;
}