<div style="text-align: center; margin: 48px 0px;" >
	<ul class="share-buttons">
	    Share this on <br>
	    <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="/images/flat_web_icon_set/color/Twitter.png"></a></li>
	    <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/images/flat_web_icon_set/color/Facebook.png"></a></li>
	    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.title }}&source={{ site.url }}{{ page.url }} rel="nofollow" target="_blank" title="Share on LinkedIn"><img src="/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
	</ul>
</div>
